# Xcode
*.xcodeproj/
!project.yml
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Logs
*.log
